<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
		<string>public.objective-c-plus-plus-source</string>
	</array>
	<key>Description</key>
	<string>An Objective-C class that is a subclass of UIViewController, with implementation and header files.</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___.m</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Name</key>
			<string>CategoryPrefix</string>
			<key>NotPersisted</key>
			<string>YES</string>
			<key>Required</key>
			<string>YES</string>
			<key>Type</key>
			<string>text</string>
			<key>Identifier</key>
			<string>CategoryPrefix</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>Prefix</string>
			<key>Type</key>
			<string>text</string>
			<key>Required</key>
			<string>YES</string>
			<key>NotPersisted</key>
			<string>YES</string>
			<key>Name</key>
			<string>Prefix</string>
			<key>Description</key>
			<string>prefix of </string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>GuidePage</string>
			<key>Type</key>
			<string>static</string>
			<key>Default</key>
			<string>___VARIABLE_Prefix:identifier___GuidePage</string>
		</dict>
	</array>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>SortOrder</key>
	<string>7</string>
	<key>Summary</key>
	<string>An Objective-C class that is a subclass of UIViewController, with implementation and header files.</string>
</dict>
</plist>
